body {
	background-color: white;
	
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	list-style: none;
	
}
.Accueil{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
nav{
	padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 62px;
    background-color: white;
    border-bottom: 1px solid rgb(152,20,76); 
    /* border-bottom: 1px solid rgb(175, 112, 17);  */
    z-index: 100;
}
.logo{
	color: rgb(152,20,76);
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 0.8;
	margin-left: 50px;
}

nav ul li{
	list-style-type: none;
    display:inline-block;
    margin: 0.8rem 1.5rem;
}
nav ul li a{
	background-color: rgb(152,20,76);
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.50rem 1.17rem;
    border-radius: 25px;
    border: 2px solid transparent;
    transition: 0.4s;
    font-size: 1rem;
}
nav ul li a:hover{
	color: rgb(152,20,76);
    background-color: transparent;
    border: 2px solid rgb(152,20,76);
}
.titre h1{
    margin-top: 100px;
    text-align: center;
    color:rgb(152,20,76);
}
.form{
    margin-top: 30px;
    margin-left: 3.5%;
    width: 93%;
    height: 330px;
    background-color:white;
    /* text-align: center; */
    justify-content: space-around;
    border-radius: 30px;
    
    border: solid 3px rgb(152,20,76) ;

}
.form h3{
    font-size: 22px;
    margin-top: 30px;
    margin-left: 60px;
    text-align: center;
}
.form label{
    margin-left: 7%;
    font-size: 20px;

}
.form input{
    margin-bottom: 10px;
    /* font-size: 16px;  */
    width: 15%;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgb(152,20,76) ;
    outline: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.04);

}
.form select{
    width: 22%;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgb(152,20,76) ;
    outline: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.04);
}

.form button{
    margin-left: 2%;
    background-color:rgb(152,20,76);
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.50rem 1.17rem;
    border-radius: 25px;
    border: 2px solid transparent;
    transition: 0.4s;
    font-size: 1rem;
} 

.form button:hover{
	color: rgb(152,20,76);
    background-color: transparent;
    border: 2px solid rgb(152,20,76);
}
.map{
    margin-left: 3.5%;
    width: 93%;
    height: 805px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px rgb(152,20,76) ;
}
.contact{
    height: 300px;
    margin-top: 40px;
	padding: 80px 17%;
	background: rgb(152,20,76) ;
}
.main-contact{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, auto));
	gap: 2rem;
	margin-bottom: 3rem;
}
.contact-content li{
	margin-bottom: 15px;
}
.contact-content li a{
	display: block;
	color: white;
	font-size: var(--p-font);
	font-weight: 600;
	transition: all .40s ease;
}
.contact-content li a:hover{
	transform: translateX(-10px);
}
.action form{
	text-align: center;
}
.action form input[type="email"]{
	width: 460px;
	max-width: 100%;
	padding: 12px 15px;
	background: #c3c3c3;
	color: var(--bg-color);
	border: none;
	outline: none;
	margin: 0px 10px 20px 0px;
	font-size: 16px;
	font-weight: 600;
}

.action form input[type="submit"]{
	padding: 10px 35px;
	background: var(--bg-color);
	color: white;
	border: none;
	outline: none;
	margin: 0px 10px 20px 0px;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}
